

#Files for production version
ForProduction/

#local only files
.env/
*cache
digitalTwin/data/geo_data/results/
!digitalTwin/data/geo_data/results/.gitkeep

digitalTwin/data/synthetic_data/*
!digitalTwin/data/synthetic_data/.gitkeep