<!-- TODO: FIX copyright and Links -->
<!-- Defines the footer -->
<div class="d-flex flex-wrap justify-content-between align-items-center py-1 px-2 border-top bg-body-tertiary static-bottom">

    <p class="col-md-6 mb-0 justify-content-start text-body-secondary">&copy; 2025 DTOP</p>

    <ul class="nav col-md-6 justify-content-end">
        <li class="nav-item">
            <a href="https://github.com/MTipuric/DestinE_SPDT"
                class="nav-link px-2 text-body-secondary" data-toggle="tooltip" data-placement="top"
                title="Github"><img class=" resp" alt="Github"
                src="{{ url_for('static', filename='img/github.svg') }}" width="16">
                </a>
        </li>

        <li class="nav-item">
            <a href="/contact"
                class="nav-link px-2 text-body-secondary" data-toggle="tooltip" data-placement="top"
                title="Contact">
                <img class=" resp" alt="Contact"
                src="{{ url_for('static', filename='img/envelope.svg') }}" width="16">
                </a>
    </ul>
</div>