<!-- Table for accessing reports -->

<div class="card shadow-md bg-body rounded border bg-light">
    <div class="card-header"><h6>Reports</h6></div>
    <div id="card-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created</th>
                    <th>User</th>
                    <th>Link</th>
                <tr>
            </thead>
            <tbody>
                
                {% for file in data.files %}
                <tr>
                    <td>{{file.name}}</td>
                    <td>{{file.JobSubmitted}}</td>
                    <td>{{file.UserName}}</td>
                    <td><a href="/reports/{{file.id}}" >.../reports/{{file.id }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>