<!-- Contact information -->
{% extends 'base.html' %}

{% block content %}
<div class="container my-3">

    <h4>Contact details</h4>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                For support please raise an issue on the <a href="https://github.com/TuringDestinEABM/DestinE_SPDT">github page for this project</a> or email <a href="mailto:mtipuric@turing.ac.uk"> mtipuric@turing.ac.uk</a>.
            </div>
            
            </div>
        </div>
    </div>
</div>

{% endblock %}