{% extends 'base.html' %}

{% block content %}
<h3>New Scenario</h3>


    <form action='' method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.ScenarioName.label }}<br>
            {{ form.ScenarioName(size=32) }}
        </p>
        <p>
            {{ form.Days.label }}<br>
            {{ form.Days(size=32) }}
        </p>
        <p>{{ form.DataSource.label }}<br>{{ form.DataSource() }} </p>
        <p>{{ form.Submit() }}</p>
    </form>


<!-- scripts used on this page-->
{% block javascript %}
{% endblock %}
{% endblock %}