{% extends 'base.html' %}

{% block content %}

<br>

<div class="card shadow-md bg-body rounded border bg-light">
    <div class="card-header"><h6>New Scenario</h6></div>

    <div class="row justify-content-around p-3">
        <div class="col-3">
            <div class="card" style="width: 18rem;" >
                <div class="card-header"><b>Create</b></div>
                <a href="/createscenario" data-toggle="tooltip">
                <img class="center-block" src="{{ url_for('static', filename='img/create_new.png') }}" class="card-img-top" alt="create new" style="width:80%">
                </a>
            </div>
        </div>

        <div class="col-3">
        <div class="card" style="width: 18rem;"  href="/map">
                <div class="card-header"><b>Load from Template</b></div>
                <a href="/createscenario" data-toggle="tooltip">
                <img class="center-block" src="{{ url_for('static', filename='img/load.png') }}" class="card-img-top" alt="create new" style="width:80%">
                </a>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<div class="card shadow-md bg-body rounded border bg-light">
    <div class="card-header"><h6>Reports</h6></div>

    </div>
</div>

<!-- scripts used on this page-->
{% block javascript %}
{% endblock %}
{% endblock %}