<!-- Home page -->
{% extends 'base.html' %}

{% block content %}
<br>
<!-- New scenario card -->
<div class="card shadow-md bg-body rounded border bg-light w-80">
    <div class="card-columns">

        <div class="card-body">
            <div class="row justify-content-around p-3">
                <!-- Create a new scenario from scratch -->
            
                
                <div class="card text-center shadow p-0 overflow-hidden border rounded" style="width: 15rem;">
    
                    <div class="card-header fw-bold bg-light">
                        Create new scenario
                    </div>

                    <div class="card-body">
                        <a href="/createscenario" data-bs-toggle="tooltip" title="Create new scenario">
                            <img src="{{ url_for('static', filename='img/create_new.png') }}" 
                                class="img-fluid mx-auto d-block" 
                                alt="create new" 
                                style="width: 80%;">
                        </a>
                    </div>
                </div>
                
                <!-- Manage policy options -->
                <div class="card text-center shadow p-0 overflow-hidden border rounded" style="width: 15rem;">
    
                    <div class="card-header fw-bold bg-light">
                        Create policy selection
                    </div>
                    

                    <div class="card-body">
                        <a href="{{ url_for('digitaltwin.create_policy') }}" data-bs-toggle="tooltip" title="Create new scenario">
                            <img src="{{ url_for('static', filename='img/policy.png') }}" 
                                class="img-fluid mx-auto d-block" 
                                alt="create new" >
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<br>
<br>

<!-- Table for loading reports -->
<div class = "w-80">
{% include "_scenariosSummary.html" %}
</div>
<!-- scripts used on this page-->
{% block javascript %}
{% endblock %}
{% endblock %}