<!-- This is a placeholder page for features which have not yet been implements -->
{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
    <h2>Policy created</h2>

    <div class="col-md-12">
    {% if policy_data %}
        {% include "_policySummary.html" %}
    {% endif %}
        
    
    <div class="d-flex justify-content-end">
        <a href="{{ url_for('digitaltwin.create_policy', new=1)  }}"><button class="btn btn-secondary my-2">Create another</button></a> 
        <a href="{{ url_for('digitaltwin.home') }}"><button class="btn btn-primary my-2">Home</button></a>
  </div>

</div>


{% endblock %}