<!-- Detailed timeline for a report -->

{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <!-- Scripts for maplibre GIS functionality -->
    <link rel='stylesheet' href='https://unpkg.com/maplibre-gl@5.2.0/dist/maplibre-gl.css' />
    <script src='https://unpkg.com/maplibre-gl@5.2.0/dist/maplibre-gl.js'></script>
{% endblock %}

{% block content %}
<style>
    .maplibregl-popup {
        max-width: 400px;
        font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

    /* Overlay for slider */
    .map-overlay-slider {
        background-color:  rgba(255, 255, 255, 0.6);
        font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        position: absolute;
        width: 25%;
        min-width: 150px;
        top:  5px;
        left: 10px;
    }

    .map-overlay-slider .map-overlay-inner {
        background-color:  transparent;
        width: 100%;
        padding: 10px;
    }
    .map-overlay-slider input {
        background-color: transparent;
        display: inline-block;
        width: 100%;
        position: relative;
        margin: 0;
        cursor: ew-resize;
    }
    
    /* Overlay for colorbar */
    .map-overlay-colorbar {
        background-color:  transparent;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        position: absolute;
        width: 180px;
        top: 50px;
        right: 15px;
        padding: 5px;
    }

    /* The color bar itself */
    .map-overlay-colorbar .colorbar .bar {
        float: right;
        height: 151px;
        width: 20px;
        position: relative;
        top:11px;
        /* left: 105px; */
        background: linear-gradient(rgba(46,111,142), rgb(189,223,38));
        border-style: solid
    }

    /* box for the labels */
    /* TODO: make this less janky */

    .map-overlay-colorbar .labels{
        font: 9px/10px;
        text-align: right;
        height: 230px;
        width: 5em;
        display: inline-block;
        position: relative;
        left: 75px;
        background: transparent;
        overflow: hidden;
    }


</style>

<!-- TODO: make this more responsive -->
<div class="container-xxl position-relative" style="height: 90vh">
    <!-- shows the basic map -->
    <div id="map" style="height: 100%"></div> 
    
       <!-- shows the slider overlay-->
        <div class="map-overlay-slider">
            <div class="map-overlay-inner">
                <b>Timestep: </b>
                <label id="step" for="slider"></label>
                <input id="slider" type="range" min={{steps.min}} max={{steps.max}} step="1" value="0" />
            </div>
        </div>

        <!-- shows the colorbar overlay-->
        <div class="map-overlay-colorbar">
            <p class="text-end"><b>Energy usage (kWh)</b></p>
            <div id="colorbar" class="colorbar">
                    <div id="labels" class="labels">
                        <b>{{energy_range.max}} </b> 
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <b>{{energy_range.min}}</b> 
                    </div>
                    <div class="bar"></div>
            </div>
            
        </div>
            
               
</div>
{% endblock %}

{% block scripts %}
    <script>
        // Script for base map
        const map = new maplibregl.Map({
            container: 'map',
            style:
                'https://api.maptiler.com/maps/positron/style.json?key=get_your_own_OpIi9ZULNHzrESv6T2vL',
            center: [-1.65260, 55.01802], //TODO: make this depend on centre of geojson data
            zoom: 11
        });

        let hoveredStateId = null; // hoverstate for mouseover

        const steplist = {{steps.steps|safe}}; // loads in an array containing each step

        // For the slider filter
        function filterBy(step) {
            const filters = ['==', 'Step', step];
            map.setFilter('ts_circs', filters);

            // Set the label to the step number
            document.getElementById('step').textContent = steplist[step] - 1;
        }
        
        // loads in the data
        map.on('load', () => {      
            // loads in the saved timeseries data in geojson format
            map.addSource('ts', {
                'type': 'geojson',
                'data': {{timeseries|safe}}
            });     

            // overlays the timestep data on the basemap

            map.addLayer({
            // 'id': 'ts_circs',
            'id': 'ts_circs',
            // 'type': 'fill',
            'type': 'circle',
            'source': 'ts',
            'layout': {},
            'paint': {
                    // fill color depends on value of energy consumption
                    // RGB values based on viridis colorscheme
                    // TODO: allow other schemes to be selected
                    'circle-color': [
                        'interpolate',
                        ['linear'],
                        ['get', 'energy_consumption'],
                        {{energy_range.min}},
                        'rgba(46,111,142)',
                        {{energy_range.max}},
                        'rgb(189,223,38)'
                    ],
                    'circle-stroke-color': [
                        'interpolate',
                        ['linear'],
                        ['get', 'energy_consumption'],
                        {{energy_range.min}},
                        'rgba(46,111,142)',
                        {{energy_range.max}},
                        'rgb(189,223,38)'
                    ],
                    'circle-stroke-width': 3,
                    // 'circle-color': 'rgb(189,223,38)',

                    // makes the elements 50% transparent unless mouse is over top
                    'circle-opacity': [
                        'case',
                        ['boolean', ['feature-state', 'hover'], false],
                        1,
                        0.7
                    ]

                }
            });   
            
            // For the slider filter
            filterBy(1);

            document
                .getElementById('slider')
                .addEventListener('input', (e) => {
                    const step = parseInt(e.target.value, 10);
                    filterBy(step);
                });

            // Code for hover over effect
            map.on('mousemove', 'ts_circs', (e) => {
                if (e.features.length > 0) {
                    if (hoveredStateId) {
                        map.setFeatureState(
                            {source: 'ts', id: hoveredStateId},
                            {hover: false}
                        );
                    }
                    hoveredStateId = e.features[0].id;
                    map.setFeatureState(
                        {source: 'ts', id: hoveredStateId},
                        {hover: true}
                    );
                }
            });

            // When the mouse leaves the state-fill layer, update the feature state of the
            // previously hovered feature.
            map.on('mouseleave', 'ts_circs', () => {
                if (hoveredStateId) {
                    map.setFeatureState(
                        {source: 'ts', id: hoveredStateId},
                        {hover: false}
                    );
                }
                hoveredStateId = null;
            });

            //On click effect, brings up a pop up containing information about point 
            map.on('click', 'ts_circs', (e) => {
            new maplibregl.Popup()
                .setLngLat(e.lngLat)
                .setHTML('<b>Energy consumption: </b>' +  Math.round(e.features[0].properties.energy_consumption * 1000)/1000 + ' kWh <br> <b>Property type: </b>' + e.features[0].properties.property_type)           
                .addTo(map);
            });

            // Change the cursor to a pointer when the mouse is over the states layer.
            map.on('mouseenter', 'ts_circs', () => {
                map.getCanvas().style.cursor = 'pointer';
            });

            // Change it back to a pointer when it leaves.
            map.on('mouseleave', 'ts_circs', () => {
                map.getCanvas().style.cursor = '';
            });
        });
    </script>
    
{% endblock %}