<!-- A template for specific reports. Loads in data then shows summary statistics and links to detailed map  -->
{% extends 'base.html' %}

{% block head %}
     {{ super() }}
     <!-- script for plotly figures -->
     <script src='https://cdn.plot.ly/plotly-3.1.0.min.js' charset='utf-8'></script>    
{% endblock %}

{% block content %}
<h3>Scenario '{{scenario.scenario_name}}'</h3>
<br>
Days:{{scenario.days}}
<br>
Created on {{scenario.timestamp}} by {{scenario.user_name}}.

{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}