{% extends 'base.html' %}

{% block head %}
     {{ super() }}
     <script src='https://cdn.plot.ly/plotly-3.1.0.min.js' charset='utf-8'></script>    
{% endblock %}

{% block content %}
<!-- Tabs -->
<br>
<div class="card shadow-md bg-body rounded border bg-light">
    <div class="card-header"><h6>Summary information</h6></div>
    <div class="row align-items-start">
      <div class="col">
        <b>ID: </b><br>
        <b>Days: </b><br>
        <b>Submitted: </b><br>
        <b>User: </b><br>
      </div>
      <div class="col">
        {{metadata.id}}<br>
        {{metadata.Days}}<br>
        {{metadata.JobSubmitted}}<br>
        {{metadata.UserName}}<br>
      </div>
  </div>
  <a href='/reports/{{ID}}/timeline'> View detailed timeline</a>
</div>

<div class="container my-5">
  <br>
  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="propType-tab" data-bs-toggle="tab" data-bs-target="#propType" type="button" role="tab" aria-controls="propType" aria-selected="true">Average by Property Type</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="wealth-tab" data-bs-toggle="tab" data-bs-target="#wealth" type="button" role="tab" aria-controls="wealth" aria-selected="false">Average by Wealth Group</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="heatmap-tab" data-bs-toggle="tab" data-bs-target="#heatmap" type="button" role="tab" aria-controls="heatmap" aria-selected="false">Heatmap</button>
    </li>
  </ul>

  <!-- Content -->
  <div class="tab-content mt-3" id="myTabContent">
    <!-- Average by Property Type Tab -->
    <div class="tab-pane fade show active" id="propType" role="tabpanel" aria-labelledby="propType-tab">
      <div class="container" >
          <div id='chart2' class='chart2'”></div>
      </div>
    </div>


    <!-- Average by Wealth Group Tab -->
    <div class="tab-pane fade" id="wealth" role="tabpanel" aria-labelledby="wealth-tab">
      <div class="container">
          <div id='chart3' class='chart3'”></div>
      </div>
    </div>

    <!-- Heatmap Tab -->
    <div class="tab-pane fade" id="heatmap" role="tabpanel" aria-labelledby="heatmap-tab">
      <div class="container">
          <div id='chart4' class='chart4'”></div>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type='text/javascript'>
  var graphs = {{fig2| safe}};
  Plotly.newPlot('chart2',graphs, {});
</script>
<script type='text/javascript'>
  var graphs = {{fig3| safe}};
  Plotly.newPlot('chart3',graphs, {});
</script>
<script type='text/javascript'>
  var graphs = {{fig4| safe}};
  Plotly.newPlot('chart4',graphs, {});
</script>
{% endblock %}