{% extends 'base.html' %}

{% block head %}
     {{ super() }}
    <link rel='stylesheet' href='https://unpkg.com/maplibre-gl@5.2.0/dist/maplibre-gl.css' />
    <script src='https://unpkg.com/maplibre-gl@5.2.0/dist/maplibre-gl.js'></script>
    <script src='https://cdn.plot.ly/plotly-3.1.0.min.js' charset='utf-8'></script>
{% endblock %}

{% block content %}
<!-- Tabs -->
Hello World

<br>
<a href='/reports/{{ID}}/timeline'>Timeline</a>

<br>
<div id='chart2' class='chart2'”></div>
<div id='chart3' class='chart3'”></div>
<div id='chart4' class='chart4'”></div>
<br>

{% endblock %}

{% block scripts %}
<script type='text/javascript'>
  var graphs = {{fig2| safe}};
  Plotly.newPlot('chart2',graphs, {});
</script>
<script type='text/javascript'>
  var graphs = {{fig3| safe}};
  Plotly.newPlot('chart3',graphs, {});
</script>
<script type='text/javascript'>
  var graphs = {{fig4| safe}};
  Plotly.newPlot('chart4',graphs, {});
</script>
{% endblock %}