# code for production/that requires docker
ForPoduction/

#local caches
.pytest_cache/
__pycache__/

# data without a sharing agreement
digitalTwin/data/ncc_data

#local report files except for example
digitalTwin/data/geo_data/results
!digitalTwin/data/geo_data/results/example